.card {
    width: 200px;
    height: 303px;
    position: relative;
    display: flex;
    justify-content: center;
    perspective: 2500px;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    height: 303px;
    width: 245px;
    z-index: -1;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
}

.cover-image {
    width: 245px;
    height: 303px;
    border-radius: 2rem;
}

.title {
    width: 100%;
    transition: transform 0.5s;
    /* color: white; */
    display: flex;
    justify-content: center;
}

.character {
    height: 303px;
    width: 245px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: 2rem;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}